
#formmain{
    padding-top:30px;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 0px 10px rgba(50,50,50,0.1);
    border-radius: 10px;
}

#form-group1{
    margin-right: 90px;
}
.container-fluid{
    position:relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}
.nametitle{
    margin-left: 15px;
}
h4{
    display: inline;
}
.star{
    color:red;
    font-size: 20px;
}
#firstform{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15px;
}
.email{
    margin-left: 15px;
}
.experience{
    margin-top: 20px;
    position: relative;
    margin-left: 15px;
}
/* rating */
.rate{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transform: rotateY(180deg);
}
.rate input{
    display: none;
}
.rate label{
    display: block;
    width:40px;
    height:20px;
    cursor: pointer;
    position: relative;
    
}
.rate label:before{
    content: '\f005';
    font-family: fontAwesome;
    font-size: 1.5em;
    position: relative;
    display: block;
}
.rate label:after{
    content: '\f005';
    font-family: fontAwesome;
    font-size: 1.5em;
    position: absolute;
    top:0px;
    display: block;
    color:gold;
    opacity:0;
    transition:0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rate label:hover:after,.rate label:hover ~ label:after,.rate input:checked ~ label:after{
    opacity:1;
}
.table1head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.table{
    margin-top:50px;
}
/* .tableman{
    display: grid;
    grid-template-columns: 1fr;
} */
#tablesection tr td{
    text-align: center;
}

#btn{
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: rgb(194, 190, 190);
    margin-left: 15px;
}
